version: "3"

x-common: &commons
    deploy:
        resources:
            limits:
                cpus: '0.5'
                memory: 1G
    mem_swappiness: 0
    memswap_limit: 0
    environment:
        POSTGRES_USER: $POSTGRES_USER
        POSTGRES_PASSWORD: $POSTGRES_PASSWORD
        POSTGRES_HOST: $POSTGRES_HOST
        POSTGRES_DB: $POSTGRES_DB
        POSTGRES_POOL_SIZE: $POSTGRES_POOL_SIZE

    healthcheck:
        interval: 10s
        timeout: 10s
        retries: 3
        start_period: 60s

x-depend: &depends
    depends_on:
        database:
            condition: service_healthy
        broker:
            condition: service_healthy

services:

    database:
        image: postgres:15.2-alpine3.17
        container_name: database
        ports:
            - "127.0.0.1:5432:5432/tcp"
        <<: *commons
        healthcheck:
            test: ["CMD", "pg_isready", "-q", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}" ]
