line-length = 79

[format]
quote-style = "single"
docstring-code-format = true

[lint]
select = ["ALL"]

ignore = [
    "B905",     # `zip()` without an explicit `strict=` parameter
    "COM812",   # Trailing comma missing
    "C4",       # flake8-comprehensions
    "D105",     # Missing docstring in magic method
    "D107",     # Missing docstring in `__init__`
    "D200",     # One-line docstring should fit on one line
    "D202",     # No blank lines allowed after function docstring
    "D203",     # one-blank-line-before-class
    "D212",     # multi-line-summary-second-line
    "D413",     # Missing blank line after last section
    "E731",     # Checks for lambda expressions which are assigned to a variable.
    "EM101",    # Exception must not use a string literal, assign to variable first
    "EM102",    # Exception must not use a string literal, assign to variable first
    "FA102",    # Missing `from __future__ import annotations`, but uses PEP 604 union
    "G003",     # Logging statement uses `+`
    "G004",     # Logging statement uses f-string
    "INP",      # flake8-no-pep420
    "PLR2004",  # Magic value used in comparison, consider replacing with a constant variable
    "PTH123",   # `open()` should be replaced by `Path.open()`
    "Q002",     # Double quote docstring found but single quotes preferred
    "RET504",   # Unnecessary variable assignment before `return` statement
    "RUF005",   # Consider `[*a, b]` instead of concatenation
    "S311",     # Standard pseudo-random generators are not suitable for cryptographic purposes
    "TC002",    # Move third-party import into a type-checking block
    "TC003",    # Move standard library import into a type-checking block
    "TRY003",   # Avoid specifying long messages outside the exception class
    "UP040",    # Use the `type` keyword
]

# Exclude a variety of commonly ignored directories.
exclude = [
    # general list
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "venv",
]

flake8-quotes.inline-quotes = "single"
flake8-quotes.docstring-quotes = "single"

[lint.mccabe]
max-complexity = 5

[lint.per-file-ignores]
"*/models.py" = [
    "D100",    # Missing docstring in public module
    "D101",    # Missing docstring in public class
]
"tests/**.py" = [
    "D",
    "ARG001",  # Unused function argument
    "ANN",
    "S101",
    "PLR0913", # Too many arguments in function definition
    "PT003",   # `scope='function'` is implied in `@pytest.fixture()`
    "SLF001",  # Private member accessed
    "S311",    # Standard pseudo-random generators aren't good for cryptography
    "S608",    # Possible SQL injection vector through string-based query construction
    "T201",    # `print` found
]
"traded/migrations/**.py" = [
    "D",
    "INP001",  # File is part of an implicit namespace package. Add an __init__.py
]
"traded/migrations/versions/**.py" = [
    "F401",     # imported but unused
    "N999",     # Invalid module name
    "PLR0915",  # Too many statements
]
"*/__init__.py" = [
    "D",
    "F401",  # imported but unused
]


[lint.isort]
lines-after-imports = 2
